<div id="elementInit">
   <!-- 
   I will eventually add in a way
   to define custom elements automatically once I
   create all of the software related api's.
   _______________________________________________
   
   so until then youll have to add it in yourself when you create
   software for the system.
   -->
   <script id="elementInit">
class Widget extends HTMLElement {
  connectedCallback() {
    const template = document.getElementById('o-widget');
    const node = document.importNode(template.content, true);
    this.appendChild(node);
  }
}

class Application extends HTMLElement {
  connectedCallback() {
    const template = document.getElementById('o-app');
    const node = document.importNode(template.content, true);
    this.appendChild(node);

    this.innerHTML = new Intl.ApplicationFormat("default", {
      name: this.getAttribute('name') || undefined,
      windowX: this.getAttribute('windowX') || undefined,
      windowY: this.getAttribute('windowY') || undefined,
      usesDefaultWM: this.getAttribute('usesDefaultWM') || true,
      usesDefaultMouseCursor: this.getAttribute('usesDefaultMouseCursor') || true,
    }).format(date);
  }
}

class ApplicationContent extends HTMLElement {
  connectedCallback() {
    const template = document.getElementById('o-app-content');
    const node = document.importNode(template.content, true);
    this.appendChild(node);
  }
}

customElements.define("o-widget", Widget);
customElements.define("o-app", Application);
   </script>
</div>
<div id="system">
<div id="desktop">
<div id="shortcuts"></div>
<div id="widgets"></div>
<div id="mouseCursor"></div>
<div id="windowManager">
   <div id="open">
      <div id="focused">
        <o-app name="Sign In" windowX="700" windowY="500">
            <o-app-content>
                <o-app-dat>
                    <o-app-scripts>
                        <o-app-script-types>
                            <o-script mimeType=".rb"/>
                            <o-script mimeType=".erb"/>
                            <o-script mimeType=".js"/>
                            <o-script mimeType=".xml">
                        </o-app-script-types>
                    </o-app-scripts>
                    <o-app-styles>

                    </o-app-styles>
                </o-app-dat>
                <div class="wrapper">

                </div>
            </o-app-content>
        </o-app>
      </div>
      <div id="nonFocused"></div>
   </div>
   <div id="minimized"></div>
</div>
<div id="dock">
   <div id="pinned"></div>
   <div id="open"></div>
   <div id="minimized"></div>
</div>